{{#l-default}}

  {{modal-video
    classNames = "c-ember-cli-video-modal"
    showVideoModal = showVideoModal  
    videoId = videoId
  }}

  {{#c-section 
    classNames="c-section--text-center spacing--min-height-100vh c-section--background-cover c-section--background-center-top  c-alignement--center-center c-alignement--column" 
    isConstrained=false
    backgroundimage="img_main_xploreparadise_kalahari_botswana_livingstone.jpg"
    isConstrainedInside=true
  }}
    {{c-startscreen text=model.textContent.start}}
  {{/c-section}}

  {{c-separator isBig=true isDark=true classNames="scroll-to--start c-separator--nomargin"}}

  {{#c-section 
     classNames="c-section--text-center c-section--background-contain c-section--background-center-top spacing-top--6lines spacing-bottom-inside--4lines spacing-bottom--5lines" 
     isConstrained=true 
     backgroundimage="img_mask._botswana.png"   
  }}
      <h2>{{model.textContent.trail.h2}}</h2>
      {{c-separator}}
      {{c-text-blocks text=model.textContent.trail.text}}
  {{/c-section}}


  {{#c-section 
      classNames="c-section--background-contain c-section--background-right-top spacing-bottom--4lines"
      backgroundimage="img_portrait_xploreparadise_livingstone.jpg"
      isConstrained=false
  }}
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-xs-9 col-sm-8 col-sm-offset-1">
              {{c-animated-map}}
            </div>
          </div>
          <h2>{{model.textContent.explorer.h2}}</h2>
          <h3>{{model.textContent.explorer.h3}}</h3>
        </div>
        <div class="col-sm-7"> 
          {{c-text-blocks text=model.textContent.explorer.text}}
        </div>
      </div>
    </div>
  {{/c-section}}

  {{c-separator isBig=true isDark=true classNames="scroll-to--start c-separator--nomargin"}}

  {{#c-section classNames="c-section--text-center spacing-vertical--3lines" isConstrained=true}}
      <h2>{{model.textContent.kalahari.h2}}</h2>
      {{c-separator}}
      {{c-text-blocks text=model.textContent.kalahari.text}}
  {{/c-section}}

  {{#c-section
    classNames="c-section--background-center-top c-section--background-cover"
    backgroundimage="img_desert_xploreparadise_kalahari_botswana_plants.jpg"
    isConstrainedInside="true"
  }}
    {{c-quotation
      quotationTexts=model.textContent.kalahari.quotationTexts
      author=model.textContent.kalahari.author 
      authorDescription=model.textContent.kalahari.authorDescription
    }}
  {{/c-section}}

  {{#c-section classNames="c-section--text-center" isConstrained=true}}
    {{c-text-blocks text=model.textContent.kalahariGeographics.text classNames="spacing-top--4lines"}}
    {{c-image
      src="img_african_symbol.png"
      is2x=true
    }}
  {{/c-section}}

  {{c-separator isBig=true}}

  {{#c-section classNames="c-section--text-center" isConstrained=true}}
      <h2>{{model.textContent.work.h2}}</h2>
      {{c-separator}}
      {{c-text-blocks text=model.textContent.work.text}}
  {{/c-section}}

  {{#c-section isConstrained=true}}
    <div class="row">
      
      {{#each model.videoTeasers as |video|}}
        {{c-video-teaser 
          youtubeId = video.youtubeId
          showVideo = (action "openYouTubeModal")
          backgroundimage = video.backgroundimage
          classNames="col-xs-6 col-sm-6 col-md-3" 
          title = video.title
          subtitle = video.subtitle
        }}
      {{/each}}
      
    </div>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center" isConstrained=true}}
    <div class="row">
      {{#photo-swipe options=model.mainGallery.options items=model.mainGallery.items as |img|}}
        <img 
          width=200 
          class="col-xs-4 col-sm-3 col-md-2 col-lg-2 spacing-vertical--grid-gutter" 
          src={{img.msrc}} 
          alt={{img.title}}
        />
      {{/photo-swipe}}
    </div>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center spacing-bottom--4lines" isConstrained=true}}
    <h2>{{model.textContent.about.h2}}</h2>
    {{c-separator}}
    <h3>{{model.textContent.about.h3}}</h3>
    {{c-text-blocks text=model.textContent.about.text}}
  {{/c-section}}
    
  {{#c-section 
      classNames="c-section--text-center c-section--background-cover c-section--background-center-top"
      backgroundimage="img_portrait_xploreparadise_christoph_taenzer.jpg"
      isConstrained=false
  }}
    <div class="container spacing-vertical--6lines">
      <div class="row">
        <div 
           class="c-typography--italic typography--big col-xs-12 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-7">
          {{c-text-blocks text=model.textContent.about.text2}}
        </div>
      </div>
    </div>
  {{/c-section}}

  {{#c-section 
      isConstrained=true
      classNames="c-section--text-center spacing-vertical--4lines"
  }}
    <h2>{{model.textContent.contact.h2}}</h2>
    {{c-separator}}
    {{c-text-blocks text=model.textContent.contact.text classNames="spacing-bottom--4lines"}}
    {{c-contact-form}}
  {{/c-section}}

  {{#c-section 
    isConstrainedInside=true 
    classNames="c-section--background-cover c-section--background-center-top c-section--text-center spacing--min-height-100vh c-alignement--center-center"
    backgroundimage="img_contact_xploreparadise_gemsbok_kalahari_botswana_livingstone.jpg"
  }}
    {{c-social-media-connections}}
  {{/c-section}}

  {{#c-section classNames="c-section--text-center" isConstrained=true}}
    {{c-special-thanks model=model}}
  {{/c-section}}

  {{#c-section classNames="c-section--text-center c-section--font-headings" isConstrained=true}}
    {{c-text-blocks text=model.textContent.equipment.text}}
    {{#slick-carousel
      class="slick-carousel slick-carousel--center-center spacing-vertical--2lines"
      autoplay=true
      autoplaySpeed=3000
      slidesToScroll=1
      dots=false
      fade=false
      mobileFirst=true
      responsive=model.equipmentSlider.sliderSettings.responsiveSettings
    }}
      {{#each model.equipmentSlider.sliderItems as |item|}}
        {{c-carousel-item item=item}}
      {{/each}}
    {{/slick-carousel}}
  {{/c-section}}
  
  <footer>
  {{#c-section classNames="c-section--text-center typography--smaller" isConstrained=true}}
     {{c-text-blocks text=model.textContent.copyright.text}}
  {{/c-section}}
  </footer>

{{/l-default}}