{{#l-default}}
  {{#c-video classNames="c-video--fullpage"}}
    {{ember-youtube
      ytid="V2VkGY-DMKE"
      playerVars=youtubeIntroPlayerVars
      showDebug=false
      showControls=false
      showProgress=false
    }}
  {{/c-video}}

  {{c-separator isBig=true isDark=true}}

  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
      <h2>{{model.trail.title}}</h2>
      {{c-separator}}
      <p>{{model.trail.p1}}</p>
      <p>{{model.trail.p2}}</p>
      <p>{{model.trail.p3}}</p>
      <p>{{model.trail.p4}}</p>
  {{/c-section}}


  {{#c-section 
      classNames="c-section--background-contain c-section--background-right-top"
      backgroundimage="img_portrait_xploreparadise_livingstone.jpg"
      isInProgress=true
      isConstrained=false
  }}
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div>
            svg<br />
            ...<br />
            svg<br />
            ...<br />
            svg<br />
            ...<br />
            svg<br />
            ...<br />
            svg<br />
            ...<br />
            svg<br />
            ...<br />
          </div>
          <h2>{{model.explorer.h2}}</h2>
          <h3>{{model.explorer.h3}}</h3>
        </div>
        <div class="col-sm-7"> 
          <p>{{model.explorer.p1}}</p>
          <p>{{model.explorer.p2}}</p>
          <p>{{model.explorer.p3}}</p>
          <p>{{model.explorer.p4}}</p>
        </div>
      </div>
    </div>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
      <h2>{{model.kalahari.title}}</h2>
      {{c-separator}}
      <p>{{model.kalahari.p1}}</p>
  {{/c-section}}

  {{#c-section 
    classNames="font--handwritten"
    backgroundimage="img_desert_xploreparadise_kalahari_botswana_plants.jpg"
    isConstrainedInside="true"
  }}
    <blockquote>
      <p>{{model.kalahari.quotation1}}</p>
      <p>{{model.kalahari.quotation2}}</p>
      <p>{{model.kalahari.author}} {{model.section2.authorDescription}}</p>
    </blockquote>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
      <p>{{model.kalahariGeographics.p1}}</p>
      <p>{{model.kalahariGeographics.p2}}</p>
  {{/c-section}}

  {{c-separator sizeBig=true}}

  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
      <h2>{{model.work.title}}</h2>
      <p>{{model.work.p1}}</p>
      <p>{{model.work.p2}}</p>
      <p>{{model.work.p3}}</p>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
    <h2>GALLERY PLACEHOLDER</h2>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
    <h2>{{model.about.h2}}</h2>
    <h3>{{model.about.h3}}</h3>
    <p>{{model.about.p1}}</p>
  {{/c-section}}
    
  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
    <p>{{model.about.p2}}</p>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
    <h2>GET IN TOUCH</h2>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
    <h2>SOCIAL MEDIA</h2>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
    <h2>{{model.thanks.h2}}</h2>
    <p>{{model.thanks.p1}}</p>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
    <h2>{{model.equipment.h2}}</h2>
    <p>{{model.equipment.p1}}</p>
  {{/c-section}}
  
  <footer>
  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
    <p>{{model.copyright.p1}}</p>
  {{/c-section}}
  </footer>

{{/l-default}}