{{#l-default}}
  {{#c-video classNames="c-video--fullpage"}}
    {{ember-youtube
      ytid="V2VkGY-DMKE"
      playerVars=youtubeIntroPlayerVars
      showDebug=false
      showControls=false
      showProgress=false
    }}
  {{/c-video}}

  {{c-separator isBig=true isDark=true}}

  {{#c-section classNames="c-section--text-center"}}
      <h2>{{model.trail.title}}</h2>
      {{c-separator}}
      <p>{{model.trail.p1}}</p>
      <p>{{model.trail.p2}}</p>
      <p>{{model.trail.p3}}</p>
      <p>{{model.trail.p4}}</p>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center"}}
      <h2>{{model.kalahari.title}}</h2>
      {{c-separator}}
      <p>{{model.kalahari.p1}}</p>
      <p>{{model.kalahari.quotation1}}</p>
      <p>{{model.kalahari.quotation2}}</p>
      <p>{{model.kalahari.author}} {{model.section2.authorDescription}}</p>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center"}}
      <p>{{model.kalahariGeographics.p1}}</p>
  {{/c-section}}

  {{c-separator sizeBig=true}}

  {{#c-section classNames="c-section--text-center"}}
      <h2>{{model.work.title}}</h2>
      <p>{{model.work.p1}}</p>
      <p>{{model.work.p2}}</p>
      <p>{{model.work.p3}}</p>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center"}}
    <h2>GALLERY PLACEHOLDER</h2>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center"}}
    <h2>ABOUT THE ORGINATOR...</h2>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center"}}
    <h2>PHOTO AND TEXT</h2>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center"}}
    <h2>ContactForm</h2>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center"}}
    <h2>PHOTO AND TEXT / SOCIAL MEDIA</h2>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center"}}
    <h2>SPECIAL THANKS</h2>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center"}}
    <h2>EQUIPMENT</h2>
  {{/c-section}}

  {{#c-section classNames="c-section--text-center"}}
    <h2>COPYRIGHT</h2>
  {{/c-section}}
  

{{/l-default}}